/* General Style */

* {
	font-family: "Courier New", monotype;
	margin: 0;
}

html, body {
	height: 100%;
}

a {
	color: lightblue;
}

.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -4em;
}

.footer, .push {
	height: 4em;
	color: lightgrey;
	background: #255C69;
	padding: 10px;
	clear: both;
}

.bootstrappieces {
	padding: 10px 10px 60px 10px;
}

.rightfloater {
	width: 350px;
	height: 200px;
	padding: 10px;
	float: right;
}

.leftfloater {
	width: 350px;
	height: 200px;
	padding: 10px;
	float: left;
}

.shadowboxes {
	background: #81A5AD;
	border-radius: 20px;
	box-shadow: 7px 7px 3px #888888;
	margin: 10px;
	text-align: center;
	padding: 20px;

}

.shadowboxes img {
	border: 1px black solid;
	align: auto;
}

.shadowboxes table {
	align: auto;
}

/* Style for any header text */

.header {
	text-align: center;
	color: grey;
	font-size: h2;
	font-weight: bold;
}

/* Style for the tabs */

#nav li {
	display: inline;
	margin: auto;
	/* was once text: center; */
}

/* Style for the Main Page */

.uploadAnImage {
	/* height: 160px;
	width: 300px;
	/* border: 1px solid black; */
	margin: auto;*/
	padding: 20px;
	/* color: #01242D;*/
	text-align: center;
}

/* Style for FAQ Page */

.docbody {
	margin: 40px;
	font-size: 16px;
	color: #01242D;
}

.imagegallery {
	margin: auto;
}

.imagegallery table td {
	text-align: left;
	border: 1px solid black;
	overflow: hidden;
	width: 250px;
	padding: 10px;
}

/* Style for Contact Us Page */

#contacttable {
	align: center;
}

#contactbuttoncontainer {
	display: inline;
	padding: 40px;
	margin: auto;
}

.emailbutton {
	height: 40px;
	width: 150px;
	background: #4B7C88;
	color: #01242D;
	border-radius: 10px;
	box-shadow: 3px 3px 1px #888888;
	text-align: center;
	padding: 10px;
	margin: 20px;
	/* display: block; */
}

/* General Table Stylings */

table {
	padding: 5px;
}

th {
	text-align: center;
}

td {
	padding: 5px;
}

/*
Colors for the Color Scheme

.color-primary-0 { color: #255C69 } dark teal
.color-primary-1 { color: #81A5AD } lightest blue
.color-primary-2 { color: #4B7C88 } medium dark blue
.color-primary-3 { color: #0C3F4B } between the first and last
.color-primary-4 { color: #01242D } darkest blue

*/