<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
 <display-name>posra</display-name>
 <context-param>
  <description>Image Location</description>
  <param-name>image_location</param-name>
  <param-value>${catalina.base}\webapps\images\</param-value>
 </context-param>
 <context-param>
  <description>Path to posra binary</description>
  <param-name>osra_location</param-name>
  <param-value>C:\Users\IBM_ADMIN\Documents\GitHub\UCSC-IBM-POSRA-CORE\src\osra.exe</param-value>
 </context-param>
 <context-param>
  <description>Path to posra script</description>
  <param-name>posra_script_location</param-name>
  <param-value>C:\Users\IBM_ADMIN\Documents\GitHub\UCSC-IBM-POSRA-CORE\posra.sh</param-value>
 </context-param>
 <data-source>
  <description>jdbc:mysql://localhost:3306/POSRA</description>
  <name>POSRA</name>
  <class-name>javax.sql.DataSource</class-name>
  <server-name>localhost</server-name>
  <port-number>3306</port-number>
  <database-name>POSRA</database-name>
  <url>jdbc:mysql://localhost:3306/POSRA</url>
  <user>root</user>
  <password>GingerRoot#13</password>
 </data-source>
 <welcome-file-list>
  <welcome-file>index.html</welcome-file>
  <welcome-file>index.htm</welcome-file>
  <welcome-file>index.jsp</welcome-file>
  <welcome-file>default.html</welcome-file>
  <welcome-file>default.htm</welcome-file>
  <welcome-file>default.jsp</welcome-file>
 </welcome-file-list>
</web-app>
