<?xml version="1.0"?> <!-- ﻿ -->
<configuration>
  <appSettings>
    <!-- compound id lookup -->
    <add key="molengine.lookup.1" value="compound"/>
    <!-- <add key="molengine.lookup.1.provider" value="oracle"/> -->
    <add key="molengine.lookup.1.provider" value="sqlserver"/>
    <add key="molengine.lookup.1.connectionstring" value="Data Source=;initial catalog=;Integrated Security=True;"/>
    <add key="molengine.lookup.1.sql" value="select molfile from structures where compoundid={q}"/>
    <add key="molengine.lookup.1.molformat" value="molfile"/>
    <add key="molengine.lookup.1.regex" value=""/>

    <!-- molengine license code -->
    <add key="scilligence.license" value="# Licensed to: Williams College
# Product: JSDrawWebServices
# Modules:
# SN: 6f925a6b-9bc2-4857-a4bb-3c226fbd8b92
# Expiration Date: 2015-Jul-23
MDIwMDAzMDQwMzExMDgxMDExMDkxNDE0MTUxMTA4MDAwODA0MDQwODE1MDMxMjEwMTExMTA1MDkwMjAz
MDAwNzEzMTEwMzAzMTAxNDA3MDIwODAxMTAwMjA4MTQxMTAxMDYwNDEwMDcwNzE0MTAwODA3MDcwNzEz
MDcxMTAzMDcwMjA1MDMwMTEwMDExMzAzMTUxMzAxMDIxMjE1MTExMjAyMDQwMzAyMDEwNjA5MDUxMTEx
MTAwMzE1MDYwMzEzMDMwMDA0MTQwMTAyMDEwNTAyMDMwMTA3MDIwMjE0MTMwNzA3MTIwMTAxMTMxMTAy
MDgxMzAwMTUwNzA1MDgwOTE0MDEwODE1MTIwOTAzMDQxMjE1MDcxMzA2MTAwMjEzMDUwMjA1MDUwMDEz
MDUxMDEyMDUwOTA0MDIwODA1MDQxMTEwMDQwNjA3MDExMTA3MDEwMDAyMTEwMzAzMDcwNTA4MTUwMTA4
MDYwOTA2MDUxMjAzMDgwNzA2MDMwODExMDcxMjEzMDYxMDA2MTUwNTEwMDEwMzExMDcxMjA5MDcwNTEw
MTUxMzAyMTIxMzA2MTAwMTA5MDUwNjEyMTQwNTAzMTQwMTAyMTQwMzA4MDUwMjAzMDIwNzA2MDIwNDA5
MDYwOTExMDcxNTE0MDcwNDE0MDExMzA2MDYxNTA1MDgwNzA5MTQwMTAyMDUwNjA5MDExMDA2MDkwODEw
MTQwOTAwMDIxMDEwMDQwNDEyMTUwNTA2MDUwMDA3MTExNTAzMTUxMTA1MTUxMDExMDEwNjA3MDcwNDA2
MDAwNzExMDYwNjEzMDcwNzE0MTUwMzA0MTMwNzA1MDExMTAzMTAxNTE1MTIwMTAxMDQwMzAwMTIwMjA2
MDgxMDEwMTAwNzAwMTQwMjExMTEwNjA5MDAwMzAxMDAxMTE1MTAwNTExMDIxMjE0MDQxNDA2MDYxMjE1
MDQwMjA3MDkwMTAyMTQwNDAxMTIwMDAzMDQwNzA3MDkxMTEyMDgwNjEzMDgxNTA0MDEwMjA0MTExNDA3
MDYwMjAyMDcwNjA5MDIxMzA5MTAwNDA0MDUwMjEzMDkxMTE1MDkwNjEwMTAwNTEyMTUwMzEyMDcwMDE1
MTUwMTA3MTQwNzE0MDAwODA5MTAwOTAzMDgwMTEwMDkwODA1MDYwMzA2MTQwOTA1MDEwMTA0MTQwNDA1
MTEwNzA4MTExNDAzMTIxMTA3MTEwMDA3MDExNDAyMDMwMDEyMTAwMjA4MDgwODEzMDkxMTAyMDAxNDA3
MTAwNjEwMDkwMTE1MDQxMzA4MDIwNTA5MDQxMTAxMDAwNzExMTIwODEwMTAwMzA3MDgwNDE1MDcwNDAx
MDgwNzA5MTQwNjAwMDMxNDAzMTAwMTA0MTIxMjAxMDgxMzAwMTIwNDAyMTAwMjA3MDIwMTA1MDgwNzEx
MDgwNDExMTUxMDAxMTMxNTEzMDYwOTAzMTAwMjAxMDQwMDEwMDQwMjAxMTQwMzA3MDYwMzE1MDkxMTA5
MTQwNTA4MDcwNzE1MDMxNTEwMTMwOTExMDIwNDAwMDAwMDA1MTUwMTA2MDIxMDE0MDgwODAxMTIwNTEx
MDgwMjA2MDgxMzAyMTExMg=="/>
    

  </appSettings>
</configuration>