<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory> <!--  bryn removed name = "" from this line -->
  <property name="hibernate.temp.use_jdbc_metadata_defaults">false</property>
  <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
  <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
  <property name="hibernate.current_session_context_class">thread</property>
  <!--  <property name="hibernate.default_schema">posra</property> -->

  <property name="hibernate.connection.url">jdbc:mysql://127.0.0.1:3306/posra</property>
  <property name="hibernate.connection.username">root</property>
  <property name="hibernate.connection.password">GingerRoot#13</property>
  
  <!--  bryn added below: it echoes all executed SQL to stdout -->
  <property name="hibernate.show_sql">true</property>
  
  <!--  bryn added below  -->
  <mapping resource="posra/dataaccess/Polymer.hbm.xml" />
  <mapping resource="posra/dataaccess/PolymerRepeatUnitSegmentAssociation.hbm.xml" />
  <mapping resource="posra/dataaccess/RepeatUnit.hbm.xml" />
  <mapping resource="posra/dataaccess/Segment.hbm.xml" />
  <mapping resource="posra/dataaccess/SegmentAssociation.hbm.xml" />
  <mapping resource="posra/dataaccess/Smiles.hbm.xml" />
 </session-factory>
</hibernate-configuration>
